<div class="sidebar-widget sb-links" style="margin-top:1rem">
  <div class="sb-widget-title">Χρήσιμοί Σύνδεσμοι</div>
  <ul class="sb-links__list">
    <li>
      <a href="https://myschool.sch.gr" target="_blank" rel="noopener">
        <span class="sb-links__icon">🏫</span> MySchool
      </a>
    </li>
    <li>
      <a href="https://dipe-a.thess.sch.gr/dpeat/" target="_blank" rel="noopener">
        <span class="sb-links__icon">🏛️</span> Διεύθυνση Α&#39; Θεσσαλονίκης
      </a>
    </li>
  </ul>
</div>
