<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="page-layout">
          <div class="page-main">
            {{ content }}
          </div>
          <aside class="page-sidebar">
            {%- include sidebar.html -%}
          </aside>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
