---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="post-back" href="{{ '/' | relative_url }}">&#8592; &#917;&#960;&#953;&#963;&#964;&#961;&#959;&#966;&#942;</a>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%d %b %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        &middot; <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
          </span>
      {%- endif -%}
      &middot; <img src="https://hits.sh/michaliskat.github.io{{ page.url }}.svg?color=185FA5&label=views" alt="views" style="height:18px;vertical-align:middle;border-radius:3px">
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="post-reactions">
    <script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey=pt_5c0a6b01baf05ad8c549fbf1688fcb"></script>
    {%- assign post_id = page.url | remove: "/" | replace: "/", "-" -%}
    <div
      data-lyket-type="clap"
      data-lyket-namespace="blog"
      data-lyket-id="{{ post_id }}"
      data-lyket-color-text="#185FA5"
      data-lyket-color-primary="#185FA5">
    </div>
  </div>

  <div class="post-back-footer">
    <a class="post-back" href="{{ '/' | relative_url }}">&#8592; &#917;&#960;&#953;&#963;&#964;&#961;&#959;&#966;&#942; &#963;&#964;&#951;&#957; &#945;&#961;&#967;&#953;&#954;&#942;</a>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
