---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="post-back" href="{{ '/' | relative_url }}">← Επιστροφή</a>
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%d %b %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        · <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
          </span>
      {%- endif -%}
      · <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url=https%3A%2F%2Fmichaliskat.github.io{{ page.url | uri_escape }}&count_bg=%23185FA5&title_bg=%23888888&title=views&edge_flat=true" alt="views" style="height:18px;vertical-align:middle;border-radius:3px">
    </p>
  </header>

  <div class="post-content e-content" ite